__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
.env
.easyocr/
.DS_Store

results/
checkpoints/
wandb/
logs/

data/
datasets/*
!datasets/synthetic/
!datasets/synthetic/**
fruit_dataset/

*.pt
*.pth
*.ckpt

.hf-cache/
results/
__pycache__/
